html,
body,
#root {
    height: 100%;
    margin: 0;
    padding: 0;
    user-select: none;
}

@font-face {
    font-family: "8 Bit Wonder";
    src: url("./8-BIT-WONDER.TTF");
}  

@font-face {
  font-family: "dogica";
  src: url("./dogica.ttf");
}  

@font-face {
  font-family: "dogicabold";
  src: url("./dogicabold.ttf");
}  

.gallery {
    background-color: #efebe8;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.header {
    background-color: transparent;
    color: #efebe8;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.button {
    align-items: center;
    font-family: "8 Bit Wonder";  
    background-color: #3574c1;
    color: white;
    border: transparent;
    border-radius: 4px;
    padding: 6px;
    padding-bottom: 8px;
    margin-left: 30px;
    margin-top: 40px;
    cursor: pointer;
    text-decoration: none;
}

.button:hover {
    background-color: #1d78e1; /* change background color when hovered */
}

.button-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 40px;
    margin-top: 40px;
}
  
  .button-right {
    background-color: #e6e2e0;
    color: #51504f;
    border: none;
    border-radius: 4px;
    padding: 6px;
    padding-bottom: 8px;
    margin-left: 10px;
    font-family: "8 Bit Wonder";
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    text-decoration: none;
}

.grid-header-button-container {
  max-width: 222px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #e5e5e5;
  color: #51504f;
  border: none;
  border-radius: 8px;
  padding: 0px;
  padding-bottom: 5px;
  padding-right: 2px;
  padding-top: 5px;
  font-family: "8 Bit Wonder";
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  text-decoration: none;
}

.grid-header-button {
  background-color: #e5e5e5;
  color: #000000;
  border: none;
  border-radius: 8px;
  padding: 6px;
  padding-bottom: 8px;
  margin-left: 2px;
  font-family: "8 Bit Wonder";
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  text-decoration: none;
}

.grid-header-button:hover {
  background-color: #f2f2f2;
}

.grid-header-button:active,
.grid-header-button:focus {
  background-color: #ffffff; /* replace with your desired background color */
  
}

.button-right:hover {
    background-color: #d9d4d2;
}

.button-alt {
    background-color: #e6e2e0;
    color: #51504f;
    border: none;
    border-radius: 4px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 10px;
    font-family: "8 Bit Wonder";
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}
  
.button-alt:hover {
    background-color: #d9d4d2;
    color: white;
}

.button-alt img {
    width: 22px;
    height: 22px;
}

.button-om {
    background-color: #e6e2e0;
    color: #51504f;
    border: none;
    border-radius: 4px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 10px;
    font-family: "8 Bit Wonder";
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.button-om:hover {
    background-color: #d9d4d2;
}

.button-om img {
    width: 18px;
    height: 18px;
}

.gallery-main {
    background-color: #efebe8;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex {
    display: flex;
}

.gallery-container {
    width: 100vw;
    height: 100vh;
    padding-left: 2rem;
    padding-right: 2rem;
    overflow: hidden;
  }
  
  .left-column {
    position: sticky;
    width: 25%;
    padding-top: 8rem;
    height: 100vh;
    grid-column-start: 1;
    overflow-y: auto;
    display: block;
  }
  
  .right-column {
    width: 75%;
    flex: 1;
    padding-top: 8rem;
    padding-left: 2rem;
    padding-right: 2rem;
    height: 100vh;
    overflow-y: scroll;
  }

  .right-column::-webkit-scrollbar {
    display: none;
  }

  .left-column::-webkit-scrollbar {
    display: none;
  }

  .filter-header {
    display: block;
    width: 24%;
    z-index: 2;
    background-color: #efebe8;
    position: fixed;
    height: 3.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .filter-checkboxes-list {
    margin-bottom: 2rem;
  }

  .filter-text {
    margin: 0;
    font-size: 1rem;
    font-family: "8 Bit Wonder";
  }

  .filter-menu {
    max-height: calc(100vh - 11.5rem);
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow: scroll;
    margin-top: 3.5rem;
    padding-bottom: 10rem;
    padding-top: 1.5rem;
  }

  .rarity-switch {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3rem;
  }
  .rarity-switch-text {
    margin-right: 0.5em;
    font-family: "8 Bit Wonder";
  }

  .filter-menu-item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .filter-menu-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3rem;
  }

  .filter-menu-label > label {
    margin-right: 0.5em;
    font-family: "8 Bit Wonder";
  }

  .filter-menu::-webkit-scrollbar {
    display: none;
  }

  .filter-checkboxes-list label {
    display: block;
    font-size: .75rem;
    font-family: "dogica";
  }  

  .grid-header {
    position: relative;
    height: 3.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .grid-header-text {
    margin: 0;
    font-size: 1rem;
    font-family: "8 Bit Wonder";
  }

  .grid-container {
    margin-top: 1rem;
    row-gap: 1.5vw;
    column-gap: 1.5vw;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    display: grid;
    padding-bottom: 10rem;
    padding-top: 1.5rem;
  }
  
  .grid-cell {
    z-index: 50;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .grid-cell:hover img {
    transform: scale3d(1.05, 1.05, 1); /* replace with desired scale factor */
  }
  
  .grid-cell img {
    z-index: 50;
    border-radius: 0.75rem;
    overflow: hidden;
    position: relative;
    image-rendering: pixelated;
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25); /* replace with desired shadow properties */
    transition: transform 0.2s cubic-bezier(0.25, 0.45, 0.45, 0.95); /* replace with desired transition duration and timing function */
    transform-style: preserve-3d; /* enable hardware acceleration */
    backface-visibility: hidden; /* improve performance when using 3D transforms */
  }

  .punk-number {
    letter-spacing: .1em;
    text-transform: uppercase;
    font-family: "dogicabold";
    font-size: .65rem;
    text-align: center;
    margin-top: 0.75rem;
    padding-bottom: 0.25rem;
  }

  .inscription-number {
    letter-spacing: .1em;
    text-transform: uppercase;
    font-family: "dogica";
    font-size: .65rem;
    text-align: center;
    margin-top: 0.25rem;
    padding-bottom: 0.25rem;
  }

  .punk-rarity {
    letter-spacing: .1em;
    text-transform: uppercase;
    font-family: "dogica";
    font-size: .65rem;
    text-align: center;
    margin-top: 0.25rem;
    padding-bottom: 0.25rem;
  }
  
  @media (max-width: 768px) {
    .grid-container {
      grid-template-columns: repeat(3, minmax(0, 1fr));
      row-gap: 1vw;
      column-gap: 0.5vw;
    }
  
    .grid-cell img {
      max-width: 100%;
      max-height: 100%;
    }
  }
  
  @media (max-width: 480px) {
    .grid-container {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      row-gap: 0.5vw;
      column-gap: 0.5vw;
    }
  
    .grid-cell img {
      max-width: 100%;
      max-height: 100%;
    }
  }
